$main_border-radius: 8px;
$main_background-color: #242424;
$main_color: rgba(255, 255, 255, 0.87);
$form_border_color: #F0F268;
$BASE_0: #ffffff;
$BASE_50: #f3f3f3;
$BASE_100: #DDDDDD;
$BASE_200: #C6C6C6;
$BASE_300: #B0B0B0;
$BASE_400: #9B9B9B;
$BASE_500: #868686;
$BASE_600: #727272;
$BASE_700: #5E5E5E;
$BASE_800: #4B4B4B;
$BASE_900: #393939;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $main_color;
    background-color: $main_background-color;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    transition: color 0.3s ease-in-out;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $BASE_900;
    font-size: 20px;

    box-shadow: 2px 2px 2px 0 $form_border_color;
    border: 4px solid $form_border_color;
    border-radius: $main_border-radius;

}

div.flex_container_horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

div.flex_container_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.input-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.input-label{
    font-size: 20px;
    border-radius: $main_border-radius;
    margin-left: 8px;
}

.input-field{
    font-size: 20px;
    border-radius: $main_border-radius;
    margin-left: 8px;
    margin-right: 8px;
    width: 240px;
    height: 24px;
    padding: 4px;
    text-indent: 4px;
    &:focus{
        outline: none;
    }
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select{
    font-size: 18px;
    margin-left: 16px;
    padding: 4px;
    text-align: center;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
}

textarea{
    font-size: 16px;
    padding: 8px;
    margin: 8px;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    &:focus{
        outline: none;
        border: 2px solid #DDDDDD;
    }
}

.submit-button{
    margin: 8px;
}

.logout-button{
    margin: 8px;
    font-size: 20px;
    min-width: 200px;
    cursor: pointer;
}

.checkbox-label{
    margin-left: 4px;
}

span.langs_selection{
    margin-left: 20px;
}

.tests_container{
    overflow: auto;
    max-height: 220px;
    margin: 0 32px 12px 16px;
}

.test_input_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.test_number{
    font-size: 20px;
    margin: 8px 8px 0 8px;
    text-align: center;
    min-width: 24px;
}

#tests_label{
    font-size: 20px;
    margin-left: 8px;
    margin-top: 24px;
}

.solution_upload_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.solution_upload_item{
    margin-top: 8px;
}

#file_input{
    font-size: 20px;
}

#lang_choice, #file_choice{
    align-self: flex-start;
}

.title_input_field{
    font-size: 20px;
    border-radius: $main_border-radius;
    margin: 8px;
    width: 400px;
    height: 32px;
    padding: 8px;
    &:focus{
        outline: none;
    }
    &::placeholder{
        font-family: monospace;
    }
}

.title_label_container, .description_label_container{
    margin-top: 8px;

}

.task_show_container{
    background-color: #333333;
    border-radius: $main_border-radius;
    font-size: 20px;
    margin: 24px;
    padding: 16px 24px 16px 24px;
    width: 512px;
    min-height: 64px;
}

.task_header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.task_header_item{
    padding-left: 4px;
}

.task_title{
    min-width: 256px + 128px;
    text-align: left;
}

.task_description{
    overflow: auto;
    text-align: left;
    height: 156px;
    margin: 12px 4px 4px 4px;
    padding: 0 8px 0 8px;
    text-indent: 8px;
}

.solution_form_container{
    margin-top: 20px;
}

.solutions_table_container{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

table.solutions_table{
    margin: 8px 0 8px 0;
}


table th{
    font-weight: bold;
    border: 1px solid #dddddd;
    background: #333333;
}

table td{
    text-align: center;
    padding: 8px 16px 8px 16px;
    border: 1px solid #dddddd;
    font-size: 20px;
}

thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 15%;
}

thead th:nth-child(3) {
    width: 15%;
}

.ratings_item_container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-width: 500px;
    background: #333333;
    font-size: 20px;
    margin: 24px;
}

.ratings_item{
    margin: 4px;
}

.user_data{
    text-align: left;
    min-width: 600px;
    min-height: 300px;
    background: #333333;
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    font-size: 20px;
}

.task_show_short_container{
    background-color: #333333;
    border-radius: $main_border-radius;
    font-size: 20px;
    margin: 8px;
    padding: 4px 8px 4px 8px;
    min-width: 312px;
    min-height: 32px;
}

.task_short_header_item{
    margin-left: 16px;
}


.header_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
}

.header_container_item{
    padding: 4px 16px 4px 16px;
}

.login_form_footer{
    margin-top: 12px;
    font-size: 20px;
}

.profile_link{
    color: #CCCC00;
    &:hover{
        color: #CC00CC;
    }
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 640px;
}

.pagination_container{
    width: 512px;
    font-size: 20px;
    margin: 0 24px 0 24px;
    padding: 0 24px 0 24px;
    display: flex;
    justify-content: center;
    .flex_pagination_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 4px;
        .pagination_element{
            margin: 0 24px 0 24px;

        }
    }
}

form.pagination_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $BASE_900;
    font-size: 20px;
    box-shadow: none;
    border: none;
}

input[type='number'].page_input{
    font-size: 20px;
    max-width: 60px;
    border-radius: $main_border-radius;
    padding: 4px;
    text-align: center;
}

.loading_status{
    margin-top: 4px;
    animation: loading_status_change_color 3s infinite alternate;
    font-size: 20px;
}

@keyframes loading_status_change_color {
    0% { color: $main_color; }
    100% { color: $form_border_color; }
}


